// Center align child element in container using flexbox (recommended)
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Vertically center any element using non-flexbox
@mixin transform-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
